<!DOCTYPE html>
<html>
  <head>
  <meta content="石动,石动网,石动平台,石洞, 石洞网 ,石洞平台,互联网石材,石材平台,石材网站,石材公司,石材供应商,石材设计师,建筑商,B2B石材,石材合作,钢筋混凝土,大理石,金刚石" name="keywords">
  <meta content="石动网是一切石材相关的垂直网络平台,石材选择,石材设计等一切商机尽在石动网" name="description">
  <link rel="Shortcut Icon" href="images/favicon.ico">
  
    <meta charset="utf-8">
    <title>My App</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>




  <body ng-cloak ng-app="app" ng-controller="MainCtrl">

    <!-- <button class='button' ng-if='isLoggedIn()' ng-click="logoutUser()">Logout</button> -->

    <ng-view></ng-view>
    <link rel="stylesheet" type="text/css" href="app/css/main.css">
    <link href="app/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/bower_components/spectrum/spectrum.css" rel="stylesheet">
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app/bower_components/spectrum/spectrum.js"></script>
    <script src="app/app.js"></script>
    <script src="app/auth/auth.js"></script>
    <script src="app/pets/pets.js"></script>
    <script src="app/pets/pet/pet.js"></script>
    <script src="app/login/login.js"></script>
    
    <!-- General controllers -->
    <script src="app/controllers/mainpage.js"></script>
    <script src="app/controllers/searchInventory.js"></script>
    <script src="app/controllers/showCompanyController.js"></script>
    <script src="app/controllers/showInventoryController.js"></script>
    <!-- directives/view components -->
    <script src="app/directives/nav/nav.js"></script>
    <script src="app/directives/carouselad/carouselad.js"></script>

    <script src="app/scripts/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
    <!-- // <script type="app/scripts/ui-bootstrap-custom-0.12.0.min.js"></script> -->
  </body>
</html>
