<nav-bar></nav-bar>
<div class="container">
	<h3 class="title">基本信息</h3>

	<div class = "row" style="text-align:center;">

		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="vertical-align:middle;">
			<img ng-src={{stoneBoardImageUrl[0].image}} class="img-responsive logo">
		</div>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="vertical-align:middle;">		
			<h4>{{generalName}}</h4>
			<p>{{generalDescription}}</p>
			<p>种类:&nbsp;{{stoneCategory}}</p>
			<p>所属公司:&nbsp;<a href="#/provider/{{companyEnAlias}}">{{companyCnAlias}}</a></p>
			<p>价格(每吨):&nbsp;{{price}}</p>
			<p>产地:&nbsp;{{originLocation}}</p>
			<p>发货地:&nbsp;{{shipLocation}}</p>
		</div>
		<!-- <p>{{abc}}</p> -->
	</div>

	<!-- 库存板图 -->
	<h3 class="title">石板展示</h3>
	<div>
		<zoom-show image-list="stoneBoardImageUrl"></zoom-show>	
	</div>
	<!-- 库存产品图 -->
	<h3 class="title">产品展示</h3>
	<div>
		<zoom-show image-list="stoneProductImageUrl"></zoom-show>	
	</div>
	<!-- 库存案例图 -->
	<h3 class="title">案例展示</h3>	
	<div>
		<carousel-ad interval="3000" image-list="cases"></carousel-ad>
	</div>
</div>
