<div class="container-fluid beauty">
        <div class="col-sm-4 col-sm-offset-8 input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Email address">
        </div>
        <div class="col-sm-4 col-sm-offset-8 input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="Password">
        </div>

    <div class="container-fluid" style="margin-top:40px">
        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            <h1 class='center'><b>石动网</b></h1>
        </div>
        <div class="col-sm-12 col-md-6 col-md-offset-3"> 
            <h3 class='center'>石材供应，石材建筑，石材设计第一平台</h3>
        </div>
    </div>

    
    <div class="container-fluid" style="margin-top:25%">    
        <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col-xs-9 col-xs-offset-3"> 
            <a class="btn btn-lg" href="#" style="color:white">
                <i class="fa fa-gear fa-3x pull-right"></i> 石材供应<br>Supply
            </a>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-md-4 col-xs-9 col-xs-offset-3"> 
            <a class="btn btn-lg" href="#" style="color:white">
                <i class="fa fa-home fa-3x pull-right"></i> 石材建筑<br>Construct
            </a>
        </div>
        <div class="col-sm-3 col-sm-offset-0 col-md-3 col-xs-9 col-xs-offset-3"> 
            <a class="btn btn-lg" href="#" style="color:white">
                <i class="fa fa-lightbulb-o fa-3x pull-right"></i> 石材设计<br>Design
            </a>
        </div>
</div>