<nav-bar></nav-bar>
<div class = "form-inline container">
<!-- input-group margin-bottom-sm-->
	<div class = "row">
		<div class="col-xs-6 col-sm-4 col-md-3">
		别名/编号</br><input class="form-control" type="text" id="stone_code">
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
		主要颜色</br><input class="form-control" type="text" id="maincolor">	
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
		纹理颜色</br><input class="form-control" type="text" id="deccolor">	
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
		  <label for="originprovince">产地</label></br>
		  <select class="form-control" id="originprovince">
		    <option>北京</option>
		    <option>上海</option>
		    <option>新疆</option>
		    <option>青海</option>
		    <option>石家庄</option>
		  </select>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3">
		<label for="senderprovince">发货地</label></br>
		  <select class="form-control" id="senderprovince">
		    <option>北京</option>
		    <option>上海</option>
		    <option>新疆</option>
		    <option>青海</option>
		    <option>呼和浩特</option>
		  </select>
		</div>



		<div class="col-xs-6 col-sm-4 col-md-3">
		价格区间</br><input type="text" id="deccolor">~<input type="text" id="deccolor">	
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
		库存量</br><input type="text" id="deccolor">~<input type="text" id="deccolor">	
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3">
		规格</br><input type="text" id="deccolor">~<input type="text" id="deccolor">	
		</div>
	</div>
</div>