<nav-bar highlight=4></nav-bar>
<div class = "form-inline container searchInvenotry">
<!-- input-group margin-bottom-sm-->
	<div class = "row" style="background-color:#80D8CF;padding:10px 0px; border-top-left-radius:5px;border-top-right-radius:5px;">
		<div class="col-xs-6 col-sm-4 col-md-2" style="height:34px; border-radius:4px;">
		编号</br><input ng-model="stoneCode" ngclass="form-control" type="text" id="stone_code">
		</div>

		<div class="col-xs-6 col-sm-4 col-md-2">
		商品名</br><input ng-model="stoneName" ngclass="form-control" type="text" id="stone_name">
		</div>

		<div class="col-xs-6 col-sm-4 col-md-2 maincolorsection">
		主要颜色</br><input ng-model="mainColor" class="form-control" type="text" id="maincolor">	
		</div>

		<div class="col-xs-6 col-sm-4 col-md-2 veincolorsection">
		纹理颜色</br><input ng-model="veinColor" class="form-control" type="text" id="deccolor">	
		</div>

		<div class="col-xs-6 col-sm-4 col-md-2" style="margin-top:-6px;">
		  <label for="originprovince">产地</label></br>
		  <select ng-model="originLocation" ng-options="loc for loc in originOptions" class="form-control" id="originprovince"></select>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2" style="margin-top:-6px;">
		<label for="senderprovince">发货地</label></br>
		  <select ng-model="shipLocation" ng-options="loc for loc in shipOptions" class="form-control" id="senderprovince"></select>
		</div>
</div>
<div class="row" style="background-color:#80D8CF;padding:10px 0px;" >
		<div class="col-xs-6 col-sm-4 col-md-2">
		价格:&nbsp;<span>{{pricetext}}</span></br>
		<div id="pricerange" style="margin:10px"></div>
		<!-- <input class="range" ng-model="pricemin" type="text">~<input class="range" ng-model="pricemax" type="text">	 -->
		</div>

		<div class="col-xs-6 col-sm-4 col-md-2">
		库存量:&nbsp;<span>{{storagetext}}</span></br>
		<div id="storagerange" style="margin:10px"></div>
		<!-- <input class="range" ng-model="storagemin" type="text">~<input class="range" ng-model="storagemax" type="text">	 -->
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2">
		<label for="senderprovince">规格</label></br>
		  <select ng-model="standard" ng-options="opt for opt in standardOptions" class="form-control" id="senderprovince"></select>
		</div>
</div>
<div class="row" style="background-color:#80D8CF;padding:10px 0px; border-bottom-left-radius:5px;border-bottom-right-radius:5px;">
	<div class="col-xs-2 col-sm-1" ><a ng-click="reset()">重置</a></div>
	<div class="col-xs-2 col-sm-1" ><a ng-click="apply()">查找</a></div>
</div>
	<div class="row" style="margin-top:45px;">
	<div class="col-xs-12" ng-hide="found">
		查无此石
	</div>
	<div class="col-xs-12" ng-show="found">
		<table class="table table-bordered inventory-table">
			<tr>
				<th>板图</th>
				<th>名称</th>
				<th>种类</th>
				<th>产地</th>
				<th>规格</th>
				<th>价格</th>
			</tr>
			<tr ng-repeat="inventory in inventories">
				<td><a href={{'#/inventory/'+inventory.inventoryId}}><img class="inventory" ng-src={{inventory.stoneImageUrl}}></a></td>
				<td>{{inventory.fullName}}</td>
				<td>{{inventory.stoneCategory}}</td>
				<td>{{inventory.shipLocation}}</td>
				<td>{{inventory.standard}}</td>
				<td>{{inventory.price}}</td>
			</tr>	
		</table>
	</div>
</div>

</div>