<section class="navbar navbar-inverse docs-navbar-primary ng-scope" ng-controller="NavDirController" style="text-align:center;">
        <div class="container">
          <div class="row">
            <div class="col-md-9 header-branding" style="min-height: 41px !important;">
              <a class="brand navbar-brand" href="http://angularjs.org">
                <img width="117" height="30" class="logo" ng-src="images/header.png" src="images/header.png" style="display:inline; margin-top:-5px;">
              </a>
              <ul class="nav navbar-nav" style=" cursor: pointer; cursor: hand;">
                <li class="divider-vertical"></li>
                <li ng-class="{'active': highlight==1}"><a href="#/main"><i class="icon-home icon-white"></i> 主页</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown ng-isolate-scope" ng-class="{'active': highlight==2}">
                  <a href="#/posts" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-eye-open icon-white"></i> 资讯 <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="disabled"><a href="#">石材交易</a></li>
                    <li><a href="#">石材保养</a></li>
                    <li><a href="#">石材招标</a></li>
                    <li><a href="#">展会信息</a></li>
                  </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="disabled dropdown ng-isolate-scope" ng-class="{'active': highlight==3}">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book icon-white"></i> 求货信息
                  </a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown ng-isolate-scope" ng-class="{'active': highlight==4}">
                  <a href="#/find" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book icon-white"></i> 石材搜索</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown ng-isolate-scope" ng-class="{'active': highlight==5}">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-book icon-white"></i> 合作伙伴 <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#/collaboration">供应公司</a></li>
                    <li><a href="#/collaboration">开发公司</a></li>
                    <li><a href="#/collaboration">设计师</a></li>
                    <li class="divider"></li>
                    <li><a href="#/invests">投资公司</a></li>
                  </ul>
                </li>
                <li class="divider-vertical"></li>

                <li class="dropdown ng-isolate-scope" ng-class="{'active': highlight==6}">
                  <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-comment icon-white"></i> 关于我们
                  </a>
                </li>
                <li class="divider-vertical"></li>

              </ul>
            </div>
<!--             <form ng-class="{focus:focus}" class="navbar-search col-md-3 docs-search ng-pristine ng-valid" ng-submit="submit()">
              <span class="glyphicon glyphicon-search search-icon"></span>
              <input type="text" name="as_q" class="search-query ng-pristine ng-untouched ng-valid" placeholder="Click or press / to search" ng-focus="focus=true" ng-blur="focus=false" ng-change="search(q)" ng-model="q" docs-search-input="" autocomplete="off">
            </form> -->
          </div>
        </div>
<!--         <div class="search-results-container ng-hide" ng-show="hasResults">
          <div class="container">
            <div class="search-results-frame">
            </div>
            <a href="" ng-click="hideResults()" class="search-close">
              <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
            </a>
          </div>
        </div> -->
  </section>